h1
{
    font-family: 'Lucida Handwriting', cursive;
    background-color: rgb(255, 178, 178);
    text-align: center;
}

h2
{
    font-family: 'Brush Script MT', cursive;
}

li
{
    font-size: 30px;
}

h1.title
{
    font-size: 50px;
}

h2.headings
{
    font-size: 40px;
}

li .instruction
{

}

li .ingredients
{

}