h1
{
    font-family: 'Lucida Handwriting', cursive;
    background-color: rgb(255, 178, 178);
    text-align: center;
    font-size: 50px;
}

.Description
{
    font-family: 'Courier New', monospace;
    font-size: 20px;
}

h2
{
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
}

ol, ul
{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
}

h1.title
{
    font-weight: bold;
}

h2.headings
{
    font-weight: lighter;
}

.Instructions
{
    background-color: rgb(255, 253, 117);
    color: rgb(172, 0, 0);
}

.Ingredients
{
    background-color: rgb(141, 255, 166);
    color: rgb(76, 0, 255);
}

img
{
    width: 500px;
    height: auto;
}

.Description .Credit
{
    font-size: 25px;
    font-weight: bold;
}